@use '../QuestionGenerationDialog/styles';
@use '../../styles/tokens' as *;

.package-generation-rules {
  display: flex;
  flex-direction: column;
  gap: $space-2;
  border: 0;
  padding: 0;
}

.package-generation-rules > legend {
  margin-bottom: $space-2;
  font-weight: 700;
}

.package-generation-rules > label {
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
