@use './tokens' as *;

.sidebar-preloading {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  color: $accent-cool;
}

.sidebar-preloading svg {
  animation: sidebar-preloading-spin 0.8s linear infinite;
}

@keyframes sidebar-preloading-spin {
  to {
    transform: rotate(1turn);
  }
}
